@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.timeline-item {
  @apply opacity-0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-fadeIn {
  @apply opacity-100;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}